.container {
  text-align: center;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  color: #4786C6; /* Tar Heel blue */
  margin-bottom: 10px;
  font-size: 100px;
}

.motto {
  color: #333333;
  font-style: italic;
  font-size: 30px;
}